.calendar {
    * {
        box-sizing: border-box;
    }
    ul {
        list-style-type: none;
    }
    body {
        font-family: Verdana, sans-serif;
    }
    .month {
        padding: 25px 25px;
        width: 100%;
        background: #1abc9c;
    }
    .month ul {
        margin: 0;
        padding: 0;
    }
    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }
    .weekdays li {
        display: inline-block;
        width: 13.2%;
        color: #666;
        text-align: center;
    }
    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }
    .days li {
        list-style-type: none;
        display: inline-block;
        width: 14.1%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }
    .days li.active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }
    /* Add media queries for smaller screens */
     @media screen and (max-width:1600px) {
        .weekdays li{
            width: 13%;
        }
    }
     @media screen and (max-width:1300px) {
        .weekdays li{
            width: 12.6%;
        }
    }
     @media screen and (max-width:1279px) {
        .weekdays li{
            width: 13.5%;
        }
    }
     @media screen and (max-width:1100px) {
        .weekdays li{
            width: 13%;
        }
    }
     @media screen and (max-width:959px) {
        .weekdays li{
            width: 13.5%;
        }
    }
    @media screen and (max-width:1207px) {        
        .days li {
            width: 14%;
        }
    }
    @media screen and (max-width: 940px) {
        .days li {
            width: 14%;
        }
        .days li .active {
            padding: 2px;
        }
    }
    @media screen and (max-width: 290px) {
        .days li {
            width: 12.2%;
        }
    }
}